.countdown-container {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.9);
    color: #ffffff;
    padding: 0; /* Remove padding */
    /* Make the container fill the entire page */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
  }
  
  .countdown-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .countdown-timer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .time-unit {
    margin: 0 10px;
  }
  
  .number {
    font-size: 3em;
    font-weight: bold;
    background-color: #726e6e;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    min-width: 70px;
  }
  
  .label {
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
  }
  
  
  svg {
    width: 100%; /* Make SVG responsive */
    height: auto; /* Maintain aspect ratio */
    transform: rotate(-90deg);
  }
   
.fireworks {
    margin-top: 20px;
}

.fireworks img {
    max-width: 100%;  /* Responsive image size */
    height: auto; 
    border: 5px solid rgba(255, 255, 255, 0.8); /* Soft white border */
    border-radius: 15px; /* Rounded corners for a softer look */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.fireworks img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}